* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper, .info, .position, .intro {
  width: 100%;
}

@font-face {
  font-family: "Roboto";
  src: url("../css/roboto/Roboto-Regular.ttf");
}
body {
  font-family: "Roboto";
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (min-width: 320px) {
  nav {
    width: 300px;
  }
}

img {
  object-fit: cover;
}

@media all and (min-width: 320px) {
  .logo {
    width: 100px;
  }
}
@media all and (min-width: 425px) {
  .logo {
    width: 150px;
  }
}

@media all and (min-width: 320px) {
  .icone {
    width: 15px;
  }
}
@media all and (min-width: 425px) {
  .icone {
    width: 20px;
  }
}

.intro {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.position {
  padding: 10px 0 10px 0;
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.position p {
  margin-left: 10px;
}

.info {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.info h2 {
  margin: 25px 0 10px 0;
}
@media all and (min-width: 320px) {
  .info h2 {
    font-size: 24px;
    width: 210px;
  }
}
@media all and (min-width: 375px) {
  .info h2 {
    width: 260px;
  }
}
@media all and (min-width: 425px) {
  .info h2 {
    font-size: 30px;
    width: 300px;
  }
}
.info p {
  margin-bottom: 20px;
}
@media all and (min-width: 375px) {
  .info p {
    width: 310px;
  }
}
@media all and (min-width: 425px) {
  .info p {
    font-size: 20px;
    width: 350px;
  }
}
.info input {
  margin-bottom: 50px;
  color: white;
  border: solid #9356DC 1px;
  border-radius: 50px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
}
@media all and (min-width: 320px) {
  .info input {
    padding: 10px 10px 10px 10px;
  }
}
@media all and (min-width: 425px) {
  .info input {
    padding: 15px 15px 15px 20px;
  }
}

.fonctionnement {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../css/shrikhand/Shrikhand-Regular.otf");
}
h3 {
  margin-top: 20px;
}
@media all and (min-width: 320px) {
  h3 {
    font-size: 20px;
    margin-left: 30px;
  }
}
@media all and (min-width: 375px) {
  h3 {
    font-size: 22px;
  }
}
@media all and (min-width: 425px) {
  h3 {
    margin-left: 40px;
  }
}

.vignette-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vignette-container section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vignette {
  border: solid 1px #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 50px;
  box-shadow: 10px 5px 5px #eaeaea;
  margin-top: 20px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media all and (min-width: 320px) {
  .vignette {
    width: 230px;
    padding: 20px 50px 20px 0;
  }
}
@media all and (min-width: 375px) {
  .vignette {
    width: 250px;
  }
}
@media all and (min-width: 425px) {
  .vignette {
    width: 300px;
    padding: 25px 50px 25px 0;
  }
}
.vignette p {
  align-self: center;
}
@media all and (min-width: 425px) {
  .vignette p {
    font-size: 18px;
  }
}
.vignette svg {
  margin-left: 15px;
}

.mauve {
  background-color: #f5edff;
  box-shadow: 10px 5px 5px #f5edff;
}

.number {
  position: absolute;
  z-index: 2;
  margin-top: 15px;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  border-radius: 50px;
  text-align: center;
  color: white;
}
@media all and (min-width: 320px) {
  .number {
    left: 10px;
    height: 20px;
    width: 20px;
  }
}
@media all and (min-width: 375px) {
  .number {
    margin-left: 20px;
  }
}
@media all and (min-width: 425px) {
  .number {
    width: 25px;
    height: 25px;
  }
}
.number p {
  margin-top: 3px;
}

.restaurants {
  margin-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.vignette2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vignette2-container section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.vignette2 {
  z-index: 1;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  border: solid white 1px;
  border-radius: 10%;
  background-color: white;
}
@media all and (min-width: 320px) {
  .vignette2 {
    width: 280px;
  }
}
@media all and (min-width: 375px) {
  .vignette2 {
    width: 330px;
  }
}
@media all and (min-width: 425px) {
  .vignette2 {
    width: 360px;
  }
}
@media all and (min-width: 320px) {
  .vignette2 img {
    height: 150px;
    width: 280px;
  }
}
@media all and (min-width: 375px) {
  .vignette2 img {
    width: 330px;
  }
}
@media all and (min-width: 425px) {
  .vignette2 img {
    width: 360px;
    height: 180px;
  }
}
@media all and (min-width: 320px) {
  .vignette2 h3 {
    font-size: 15px;
    margin: 10px 0 0 10px;
  }
}
@media all and (min-width: 375px) {
  .vignette2 h3 {
    font-size: 18px;
  }
}
@media all and (min-width: 425px) {
  .vignette2 h3 {
    font-size: 20px;
    margin-left: 15px;
  }
}

.descr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (min-width: 320px) {
  .descr {
    margin: 3px 10px 25px 10px;
  }
}
@media all and (min-width: 425px) {
  .descr {
    margin-left: 15px;
  }
}

@media all and (min-width: 320px) {
  .coeur {
    width: 20px;
    margin-right: 10px;
  }
}
@media all and (min-width: 375px) {
  .coeur {
    width: 25px;
  }
}
.nouveau {
  text-align: center;
  margin-right: 15px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  z-index: 2;
  margin-top: 30px;
  color: #119172;
  background-color: #99e2d0;
}
@media all and (min-width: 320px) {
  .nouveau {
    width: 70px;
  }
}

.menu {
  background-color: #f2f2f2;
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vignette3 {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  background-color: #282828;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}
footer .logo-footer {
  margin-left: 15px;
}
@media all and (min-width: 320px) {
  footer .logo-footer {
    width: 90px;
  }
}
@media all and (min-width: 420px) {
  footer .logo-footer {
    width: 110px;
  }
}
@media all and (min-width: 420px) {
  footer .icone {
    width: 13px;
  }
}
footer svg {
  margin-top: 10px;
}
footer .hand {
  transform: rotate(135deg);
}
footer div {
  margin: 0 0 0 15px;
  display: flex;
  flex-direction: row;
}
footer p {
  margin: 10px 10px 0 15px;
}
@media all and (min-width: 420px) {
  footer p {
    font-size: 18x;
  }
}

/*# sourceMappingURL=style.css.map */
